body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #E6E6FA;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

#word {
  font-size: 36px;
  margin-bottom: 50px;
}

#input {
  font-size: 24px;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
}

#result {
  font-size: 18px;
  margin-top: 20px;
}

.correct {
  color: rgb(29, 255, 25);
}

.incorrect {
  color: red;
}

.go-to-top-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.go-to-top-button, .go-to-home-button {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #D3D3D3;
  line-height: 40px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
}

button {
  font-size: 24px;
  padding: 20px;
  width: 300px;
  height: 100px;
  background-color: #D3D3D3;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.color-buttons-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1000; /* Увеличиваем z-index, чтобы быть над кнопками */
}

.color-buttons-1,
.color-buttons {
  display: flex;
  gap: 10px;
}

.color-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #000;
}

.color-button.active {
  border-color: red;
}

.pickr {
  position: relative;
  z-index: 1000;
}

/* Стили для обводки кнопки Pickr */
.pickr button {
  border: 1px solid black;
}